includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - tests/phpstan/disallowed-calls-rules.neon

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException
            - Nette\MemberAccessException

    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type Latte\\CompileException\|Nepada\\BustCache\\IOException is not compatible with parent#'
            path: src/BustCache/BustCacheMacro.php
