includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type Latte\\CompileException\|Nepada\\BustCache\\IOException is not compatible with parent#'
            path: %currentWorkingDirectory%/src/BustCache/BustCacheMacro.php
